*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

body{
    min-height: 100vh;
    background: rgb(192, 192, 192);   
}
.container{
    margin-top: 2rem;
}
.container__title{
    font-size: 2em;
    font-weight: bold;
    text-transform: uppercase;
}
.container__title_lower{
    font-size: 1.2em;
    font-weight: bold;
}
.contetn{
    background: #fff;
    margin: 1rem;
}
.center{
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}
.contetn__title{
    margin-top: 1rem;
    font-weight: bold;
}
.contetn__img{
    width: 100%;
    height: auto;
}
/* .contetn__text{
    
} */
.contetn__price{
    font-size: 1.2em;
    font-weight: bold;
    text-transform: uppercase;
}
.contetn__button{
    padding: auto;
    height: 3rem;
    color: #fff;
    background: rgb(14, 196, 14);
    align-items: center;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
}
.contetn__button:hover{
    background: green;
    text-decoration: none;
    color: #fff;
}
.btn_pass{
    width: 3rem;
    height: 3rem;
    background: red;
}

/* /////////////// */
.article {
    background: #FFF;
    border: 1px solid rgba(0, 89, 181, 0.82);
    width: 600px;
    margin: 0 0 5px;
    box-shadow: 2px 2px 5px -1px rgb(0, 81, 202);
    padding: 3px 5px;
  }

  .news__author {
    text-decoration: underline;
    color: #007DDC;
  }
  .news__count {
    margin: 10px 0 0 0;
    display: block;
  }
  .test-input {
    margin: 0 5px 5px 0;
  }

  .add {
    margin: 0 5px 5px 0;
    width: 210px;
    border: 1px dashed rgba(0, 89, 181, 0.82);
    padding: 5px;
  }
  .add__author, .add__text, .add__btn, .add__checkrule {
    display: block;
    margin: 0 0 5px 0;
    padding: 5px;
    width: 94%;
    border: 1px solid rgba(0, 89, 181, 0.82);
  }
  .add__checkrule {
    border: none;
    font-size: 12px;
  }
  .add__btn {
    box-sizing: content-box;
    color: #FFF;
    text-transform: uppercase;
    background: #007DDC;
  }
  .add__btn:disabled {
    background: #CCC;
    color: #999;
  }